.create {
	position: relative;
	&-section {
		@extend %aic;
		@extend %container;
		flex-direction: column;
		text-align: center;
		height: 100vh;
		position: relative;
		padding-top: max(14rem, 15vh);
		position: sticky;
		top: 0;
		&-div {
			@extend %text-12;
			@extend %center;
			color: var(--secondary-light-blue-400);
			font-weight: 600;
			letter-spacing: 0.96px;
			text-transform: uppercase;
			border-radius: 90px;
			border: 1px solid var(--secondary-light-blue-400);
			padding: max(8px, 1rem) max(1.6rem, 14px);
			margin-bottom: max(8px, 1rem);
		}

		h1 {
			@extend %text-60;
			color: var(--primary-grey-600);
			font-family: var(--clash);
			font-weight: 500;
			margin-bottom: max(1.6rem, 12px);

			display: inline;
			vertical-align: bottom;

			svg,
			img {
				aspect-ratio: 48/48;
				width: max(4.8rem, 28px);
				height: auto;
				vertical-align: middle;
				margin-inline: max(1.2rem, 8px);
			}
		}

		p {
			@extend %text-18;
			color: var(--primary-grey-400);
			width: max(53.3rem, 500px);
			@include respondMax('mobile3x') {
				width: 100%;
			}
		}

		&-bg {
			@extend %cover;
			z-index: -1;
			img {
				@extend %cover;
			}
		}
	}

	&-images {
		@extend %container;
		@extend %cover;
		position: fixed;
		z-index: 1;
		pointer-events: none;

		img {
			position: absolute;
			bottom: 0;
			width: calc(100% - var(--gutter) * 2);
			left: var(--gutter);
			right: var(--gutter);
			transform: translateY(100%);
		}
	}
}
