.footer {
	&-top {
		@extend %center;
		flex-direction: column;
		text-align: center;
		padding-inline: var(--gutter);
		padding-block: max(8rem, 50px);
		position: relative;
		background: linear-gradient(175deg, #f6f4ff 0%, #fff5f1 100%);

		@include respondMax('mobile2x') {
			text-align: left;
			align-items: flex-start;
		}

		h1 {
			@extend %text-48;
			color: var(--primary-600);
			font-family: var(--clash);
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: 0.1rem;
			margin-bottom: max(12px, 1.6rem);
		}

		p {
			width: max(72.7rem, 500px);
			@extend %text-18;
			color: var(--primary-grey-500);
			line-height: 1.55;
			letter-spacing: -0.36px;
			margin-bottom: max(25px, 4rem);
			@include respondMax('mobile3x') {
				width: 100%;
			}
		}

		button {
			@extend %center;

			padding: max(12px, 1.6rem) max(16px, 2.4rem);
			background: var(--primary-400);

			border-radius: var(--radius-12);
			span {
				@extend %text-16;
				color: var(--primary-white);
				font-weight: 500;
				letter-spacing: -0.032rem;
				line-height: 1.5;
			}
		}

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			width: max(51.3rem, 300px);
			z-index: 2;

			@include respondMax('tablet') {
				display: none;
			}
			&:nth-of-type(1) {
				left: 0;
			}
			&:nth-of-type(2) {
				right: 0;
			}
		}
	}

	&-decor {
		@extend %cover;
		svg {
			@extend %pulse;
			position: absolute;
			&:nth-of-type(1) {
				left: 22rem;
				top: max(30px, 5rem);
				--pulse: 1000ms;
			}
			&:nth-of-type(2) {
				right: 48rem;
				top: max(20px, 3rem);
				--pulse: 1200ms;
			}
			&:nth-of-type(3) {
				left: 53rem;
				bottom: max(20px, 4rem);
				--pulse: 1500ms;
			}
			&:nth-of-type(4) {
				right: 30rem;
				bottom: max(50px, 10rem);
				--pulse: 900ms;
			}
		}
	}

	&-main {
		display: flex;
		gap: max(14.7rem, 100px);
		padding-inline: var(--gutter);
		padding-block: max(10rem, 50px);
		background: var(--primary-white);

		&-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			p {
				@extend %text-18;
				color: var(--primary-grey-500);
				font-weight: 500;
				line-height: 1.55;
				letter-spacing: -0.36px;
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: max(6.4rem, 50px);
			p {
				@extend %text-12;
				color: var(--primary-grey-400);
				line-height: 1.5;
			}

			ul {
				@extend %aic;
				gap: max(8rem, 40px);

				a {
					@extend %text-16;
					@extend %link--hidden;
					color: var(--primary-grey-500);
					font-weight: 500;
					line-height: 1.5;
					letter-spacing: -0.32px;
				}
			}

			&-top {
				@extend %jcsb;
				p {
					display: flex;
					gap: max(0.3rem, 2px);
					svg {
						@include ratio(1, 1);
						width: max(1.7rem, 12px);
					}
				}
			}

			&-bottom {
				padding-right: max(10px, 8rem);
			}
		}
	}

	&-mb {
		padding-inline: var(--gutter);
		padding-block: max(5rem, 20px);
		h1 {
			@extend %text-18;
			color: var(--primary-grey-500);
			font-weight: 500;
			line-height: 1.55;
			letter-spacing: -0.36px;
			margin-bottom: max(8px, 2rem);
		}

		aside {
			margin-bottom: max(15px, 3rem);
		}

		ul {
			@extend %aic;
			gap: max(8rem, 60px);
			margin-block: max(10rem, 35px);

			a {
				@extend %text-16;
				@extend %link--hidden;
				color: var(--primary-grey-500);
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: -0.32px;
			}
		}

		aside,
		p {
			@extend %text-12;
			color: var(--primary-grey-400);
			line-height: 1.5;
			display: flex;
			gap: max(0.3rem, 2px);
			svg {
				@include ratio(1, 1);
				width: max(1.7rem, 12px);
			}
		}
	}
}
