.hero {
	@extend %container;
	min-height: 100vh;
	position: relative;

	&-top {
		@extend %center;
		flex-direction: column;
		// padding-top: max(20rem, 130px);
		padding-top: clamp(130px, 30vh, 20rem);
		padding-bottom: max(15rem, 50px);

		h1 {
			@extend %text-88;
			color: var(--primary-grey-600);
			font-family: var(--clash);
			font-weight: 500;
			line-height: 1.1;
			letter-spacing: -0.88px;
			margin-bottom: max(1.6rem, 12px);
		}
		p {
			@extend %text-18;
			width: max(71.8rem, 550px);
			color: var(--primary-grey-400);
			text-align: center;
			margin-bottom: max(4rem, 24px);
			@include respondMax('mobile3x') {
				width: 100%;
			}
		}
		&-btn {
			@extend %center;
			gap: max(1.6rem, 10px);
			@include respondMax('mobile') {
				flex-direction: column;
			}
			a {
				@extend %center;
				@extend %text-16;
				padding: max(10px, 1.6rem) max(14px, 2.4rem);
				border-radius: var(--radius-12);
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: -0.32px;

				@include respondMax('mobile') {
					width: 167px;
					height: 45px;
				}

				&:nth-of-type(1) {
					background: var(--primary-400);
					color: var(--primary-white);
				}
				&:nth-of-type(2) {
					background: var(--primary-400);
					color: var(--primary-grey-600);
					border-radius: 12px;
					border: 1px solid var(--primary-grey-100);
					background: var(--primary-white);
				}
			}
		}
	}

	&-gb {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: auto;
	}

	&-bg {
		@extend %cover;
		z-index: -1;
		pointer-events: none;

		img {
			@extend %img;
		}

		svg {
			@extend %pulse;
			position: absolute;
			&:nth-of-type(1) {
				left: max(40px, 8rem);
				top: max(70px, 20rem);
				--pulse: 1000ms;
			}
			&:nth-of-type(2) {
				right: 58rem;
				top: max(80px, 12rem);
				--pulse: 1200ms;
				@include respondMax('tablet') {
					right: 30rem;
				}
			}
			&:nth-of-type(3) {
				right: max(30px, 12rem);
				top: max(50px, 17rem);
				--pulse: 1500ms;
			}
			&:nth-of-type(4) {
				right: max(40px, 18rem);
				top: 44%;
				--pulse: 900ms;
			}
			&:nth-of-type(5) {
				left: 35%;
				top: 57%;
				--pulse: 900ms;
			}
		}
	}

	&-cards {
		@extend %jcsb;
		gap: 10px;
		padding-top: max(5rem, 5vh);
		width: 100%;

		@include respondMax('tablet') {
			flex-direction: column;
			align-items: flex-start;
			gap: max(5rem, 30px);
		}
		img {
			position: relative;
			z-index: 1;
		}

		& > img {
			width: max(32rem, 220px);
		}

		div {
			@extend %aic;
			flex-direction: column;
			@include respondMax('tablet') {
				margin-left: auto;
				// gap: max(30px, 5rem);
			}
			img {
				width: max(36rem, 300px);
			}
		}
	}
}
