.preloader {
	@extend %cover;
	@extend %center;
	position: fixed;
	background: var(--col-black);
	color: var(--col-white);
	z-index: z('preloader');
	h1 {
		@extend %text-96;
		overflow: hidden;
		span {
			display: inline-block;
			transform: translateY(105%);
			overflow: hidden;
			width: 0;
			&:nth-child(1),
			&:nth-child(5) {
				width: auto;
			}
		}
	}
}
