.header {
	@extend %jcsb;
	position: fixed;
	z-index: z('navigation');
	top: max(20px, 4rem);
	left: var(--gutter);
	right: var(--gutter);

	height: var(--header);
	background: var(--primary-white);
	border-radius: var(--radius-16);
	padding: max(12px, 1.8rem) max(16px, 2.4rem);

	&-left {
		@extend %aic;
		gap: max(50px, 8rem);
		ul {
			@extend %aic;
			gap: max(12px, 1.6rem);
			li {
				padding: max(4px, 0.4rem) max(12px, 1.6rem);
				a {
					@extend %text-16;
					color: var(--primary-grey-400);
					font-weight: 500;
					letter-spacing: -0.032rem;
					transition: color 0.35s var(--ease-out-cubic);
					&:hover {
						color: var(--black);
					}
				}
			}
		}
	}

	&-right {
		@extend %aic;
		gap: max(12px, 1.6rem);
		button {
			@extend %center;
			padding: max(8px, 1.2rem) max(16px, 2.4rem);
			border-radius: var(--radius-12);
			span {
				@extend %text-16;
				width: max(11.2rem, 80px);
				font-weight: 500;
				letter-spacing: -0.032rem;
			}

			&:nth-of-type(1) {
				background: var(--primary-grey-50);
				color: var(--primary-grey-600);
			}

			&:nth-of-type(2) {
				background: var(--primary-400);
				color: var(--primary-white);
			}
		}
	}
}
