.header {
	@extend %jcsb;
	position: fixed;
	z-index: z('navigation');
	top: max(20px, 4rem);
	left: var(--gutter);
	right: var(--gutter);

	height: var(--header);
	background: var(--primary-white);
	border-radius: var(--radius-16);
	padding: max(12px, 1.8rem) max(16px, 2.4rem);

	@include respondMax('tablet') {
		display: none;
	}

	&-left {
		@extend %aic;
		gap: max(40px, 8rem);
		img {
			width: max(18.3rem, 140px);
		}
		ul {
			@extend %aic;
			gap: max(12px, 1.6rem);
			li {
				padding: max(4px, 0.4rem) max(12px, 1.6rem);
				a {
					@extend %text-16;
					color: var(--primary-grey-400);
					font-weight: 500;
					letter-spacing: -0.032rem;
					transition: color 0.35s var(--ease-out-cubic);
					&:hover {
						color: var(--black);
					}
				}
			}
		}
	}

	&-right {
		@extend %aic;
		gap: max(12px, 1.6rem);
		a {
			@extend %center;
			text-align: center;
			padding: max(8px, 1.2rem) max(16px, 2.4rem);
			border-radius: var(--radius-12);
			span {
				@extend %text-16;
				width: max(11.2rem, 50px);
				font-weight: 500;
				letter-spacing: -0.032rem;
			}

			&:nth-of-type(1) {
				background: var(--primary-grey-50);
				color: var(--primary-grey-600);
			}

			&:nth-of-type(2) {
				background: var(--primary-400);
				color: var(--primary-white);
			}
		}
	}
}

.nav {
	position: fixed;
	top: max(15px, 4rem);
	left: var(--gutter);
	right: var(--gutter);
	pointer-events: none;
	display: none;

	@include respondMax('tablet') {
		display: block;
	}

	&-header {
		@extend %jcsb;
		pointer-events: all;
		z-index: z('navigation');
		height: var(--header);
		background: var(--primary-white);
		border-radius: var(--radius-16);
		padding: max(10px, 1.8rem) max(10px, 1.8rem);
		img {
			width: max(25rem, 100px);
		}

		div {
			@extend %aic;
			gap: max(10px, 2rem);

			a {
				@extend %center;
				@include ratio(98, 40);
				text-align: center;
				width: max(98px, 20rem);
				border-radius: var(--radius-12);
				background: var(--primary-grey-50);

				span {
					@extend %text-12;
					font-weight: 500;
					letter-spacing: -0.12px;
				}
			}

			button {
				@extend %center;
				@include ratio(40, 40);
				border-radius: var(--radius-12);
				border: 1px solid var(--primary-grey-100);
				width: auto;
				height: max(40px, 8rem);
			}
		}
	}

	&-main {
		z-index: z('navigation');
		margin-top: max(10px, 3rem);
		opacity: 0;

		ul {
			border-radius: max(16px, 2rem);
			border-radius: var(--radius-16);
			border: 1px solid var(--primary-grey-200);
			background: var(--primary-white);
			box-shadow: var(--shadow-lg);

			display: inline-flex;
			flex-direction: column;
			align-items: flex-start;
			gap: max(8px, 2rem);
			padding: max(3rem, 12px);
			width: 100%;

			li {
				@extend %text-16;
				margin: max(3rem, 12px);
				color: var(--primary-grey-600);
				font-weight: 500;
				line-height: 1.5;
				letter-spacing: -0.32px;
				overflow: hidden;
				a {
					display: inline-block;
				}
				&:last-of-type {
					color: var(--primary-400);
				}
			}
		}
	}
}
