.global {
	position: relative;
	&-top {
		@extend %aic;
		@extend %container;
		flex-direction: column;
		text-align: center;
		position: relative;
		padding-top: max(14rem, 15vh);
		&-div {
			@extend %text-12;
			@extend %center;
			color: var(--primary-400);
			font-weight: 600;
			letter-spacing: 0.96px;
			text-transform: uppercase;
			border-radius: 90px;
			border: 1px solid var(--primary-400);
			padding: max(8px, 1rem) max(1.6rem, 14px);
			margin-bottom: max(8px, 1rem);
		}

		h1 {
			@extend %text-60;
			color: var(--primary-grey-600);
			font-family: var(--clash);
			font-weight: 500;
			margin-bottom: max(1.6rem, 12px);

			display: inline;
			vertical-align: bottom;

			svg,
			img {
				aspect-ratio: 48/48;
				width: max(4.8rem, 28px);
				height: auto;
				vertical-align: middle;
				margin-inline: max(1.2rem, 8px);
			}
		}
	}

	&-container {
		padding-block: max(17rem, 15vh);
	}

	&-content {
		padding-inline: var(--gutter);
		display: grid;
		grid-template-columns: repeat(8, minmax(0, 1fr));
		gap: max(16px, 3rem);
		overflow: hidden;
		@include respondMax('tablet2x') {
			display: block;
			overflow: visible;
		}
	}

	&-ul {
		grid-column: 1/4;
		& > div {
			@include respondMax('tablet2x') {
				position: sticky;
				top: calc(max(3rem, 30px) + var(--header));
				background: var(--primary-grey-25);
			}

			&:nth-of-type(1) {
				header {
					color: var(--primary-400);
				}
			}
			&:nth-of-type(2) {
				header {
					--h-color: var(--secondary-green-500);
				}
			}
			&:nth-of-type(3) {
				header {
					--h-color: var(--secondary-orange-400);
				}
			}
			&:nth-of-type(4) {
				header {
					--h-color: var(--secondary-light-blue-400);
				}
			}
		}

		&-li {
			border-radius: var(--radius-12);
			background: var(--primary-white);
			padding-inline: max(1.6rem, 12px);
			margin-bottom: var(--radius-12);
			&:last-of-type {
				margin-bottom: 0;
			}

			header {
				@extend %text-18;
				font-weight: 500;
				padding: max(1.6rem, 16px);
			}

			div {
				padding-inline: max(1.6rem, 14px);
				overflow: hidden;
				svg {
					width: 100%;
					height: auto;
					margin-block: max(2rem, 16px);
				}
				h1 {
					color: var(--primary-grey-600);
					font-size: max(3rem, 20px);
					font-family: var(--clash);
					font-weight: 500;
					line-height: 1.4;
					span {
						background: linear-gradient(
							90deg,
							rgba(182, 170, 249, 1),
							rgba(124, 212, 253, 1),
							rgba(232, 228, 254, 1)
						);
						background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
				p {
					@extend %text-16;
					color: var(--primary-grey-400);
					font-weight: 400;
					line-height: 1.5;
					letter-spacing: -0.32px;
					padding-bottom: max(2.5rem, 20px);
				}
			}
		}
	}

	&-media {
		grid-column: 4/-1;
		position: relative;
		overflow: hidden;
		@include respondMax('tablet2x') {
			display: none;
		}

		&-item {
			@extend %cover;
			border-radius: var(--radius-16);
			overflow: hidden;
			&:nth-of-type(1) {
				.global-media-img {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					padding-right: 0;
				}
			}

			&:nth-of-type(2) {
				.global-media-img {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding-left: 0;
					padding-bottom: 0;
				}
			}

			&:nth-of-type(3) {
				.global-media-img {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding-right: 0;
				}
			}

			&:nth-of-type(4) {
				.global-media-img {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					padding-left: 0;
					padding-bottom: 0;
				}
			}
		}

		&-bg {
			@extend %img;
		}

		&-img {
			@extend %cover;
			z-index: 1;
			padding: max(4.5rem, 20px);
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}

.global-mb {
	position: relative;
	border-radius: var(--radius-12);
	overflow: hidden;
	display: none;
	@include respondMax('tablet2x') {
		display: block;
		margin-top: max(2rem, 15px);
		margin-bottom: max(5rem, 50px);
	}

	&:nth-of-type(1) {
		opacity: 1;
		.global-media-img {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-right: 0;
		}
	}

	&:nth-of-type(2) {
		.global-media-img {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 0;
			padding-bottom: 0;
		}
	}

	&:nth-of-type(3) {
		.global-media-img {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-right: 0;
		}
	}

	&:nth-of-type(4) {
		.global-media-img {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 0;
			padding-bottom: 0;
		}
	}

	& > img {
		@extend %cover;
	}

	div {
		position: relative;
		z-index: 1;
	}
}
